@font-face {
	font-family: 'oelhoem';
	src:url('oelhoem.eot');
	src:url('oelhoem.eot?#iefix') format('embedded-opentype'),
		url('oelhoem.woff') format('woff'),
		url('oelhoem.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'oelhoem';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-oe, .icon-Twitter, .icon-dribbble, .icon-plane, .icon-Eye, .icon-Comment, .icon-Heart, .icon-Arrow-Right, .icon-Cart-alt {
	font-family: 'oelhoem';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-oe:before {
	content: "\6f";
}
.icon-Twitter:before {
	content: "\74";
}
.icon-dribbble:before {
	content: "\64";
}
.icon-plane:before {
	content: "\6d";
}
.icon-Eye:before {
	content: "\65";
}
.icon-Comment:before {
	content: "\63";
}
.icon-Heart:before {
	content: "\68";
}
.icon-Arrow-Right:before {
	content: "\72";
}
.icon-Cart-alt:before {
	content: "\73";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
